In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./amazon_alexa.tsv",sep="\t")
df.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [3]:
df.columns

Index(['rating', 'date', 'variation', 'verified_reviews', 'feedback'], dtype='object')

In [4]:
df.shape

(3150, 5)

In [5]:
df.dtypes

rating               int64
date                object
variation           object
verified_reviews    object
feedback             int64
dtype: object

In [6]:
df.describe

<bound method NDFrame.describe of       rating       date         variation  \
0          5  31-Jul-18  Charcoal Fabric
1          5  31-Jul-18  Charcoal Fabric
2          4  31-Jul-18    Walnut Finish
3          5  31-Jul-18  Charcoal Fabric
4          5  31-Jul-18  Charcoal Fabric
...      ...        ...               ...
3145       5  30-Jul-18        Black  Dot
3146       5  30-Jul-18        Black  Dot
3147       5  30-Jul-18        Black  Dot
3148       5  30-Jul-18        White  Dot
3149       4  29-Jul-18        Black  Dot

                                       verified_reviews  feedback
0                                         Love my Echo!         1
1                                             Loved it!         1
2     Sometimes while playing a game, you can answer...         1
3     I have had a lot of fun with this thing. My 4 ...         1
4                                                 Music         1
...                                                 ...       ...
3145  Perfect for kids, adults and everyone in betwe...         1
3146  Listening to music, searching locations, check...         1
3147  I do love these things, i have them running my...         1
3148  Only complaint I have is that the sound qualit...         1
3149                                               Good         1

[3150 rows x 5 columns]>

In [7]:
df.count()

rating              3150
date                3150
variation           3150
verified_reviews    3150
feedback            3150
dtype: int64

In [8]:
df['rating'].value_counts(normalize=True)*100

5    72.571429
4    14.444444
1     5.111111
3     4.825397
2     3.047619
Name: rating, dtype: float64

In [9]:
df['date'].value_counts(normalize=True)*100

30-Jul-18    50.888889
29-Jul-18    15.301587
28-Jul-18     7.936508
26-Jul-18     2.698413
31-Jul-18     2.571429
               ...
1-Jun-18      0.063492
9-Jun-18      0.031746
29-May-18     0.031746
13-Jun-18     0.031746
4-Jun-18      0.031746
Name: date, Length: 77, dtype: float64

In [10]:
df['variation'].value_counts(normalize=True)*100

Black  Dot                      16.380952
Charcoal Fabric                 13.650794
Configuration: Fire TV Stick    11.111111
Black  Plus                      8.571429
Black  Show                      8.412698
Black                            8.285714
Black  Spot                      7.650794
White  Dot                       5.841270
Heather Gray Fabric              4.984127
White  Spot                      3.460317
White                            2.888889
Sandstone Fabric                 2.857143
White  Show                      2.698413
White  Plus                      2.476190
Oak Finish                       0.444444
Walnut Finish                    0.285714
Name: variation, dtype: float64

In [11]:
df['feedback'].value_counts(normalize=True)*100

1    91.84127
0     8.15873
Name: feedback, dtype: float64

In [12]:
df.loc[df['feedback'] == 0]

,rating,date,variation,verified_reviews,feedback
46,2,30-Jul-18,Charcoal Fabric,"It's like Siri, in fact, Siri answers more acc...",0
111,2,30-Jul-18,Charcoal Fabric,Sound is terrible if u want good music too get...,0
141,1,30-Jul-18,Charcoal Fabric,Not much features.,0
162,1,30-Jul-18,Sandstone Fabric,"Stopped working after 2 weeks ,didn't follow c...",0
176,2,30-Jul-18,Heather Gray Fabric,Sad joke. Worthless.,0
...,...,...,...,...,...
3047,1,30-Jul-18,Black Dot,Echo Dot responds to us when we aren't even ta...,0
3048,1,30-Jul-18,White Dot,NOT CONNECTED TO MY PHONE PLAYLIST :(,0
3067,2,30-Jul-18,Black Dot,The only negative we have on this product is t...,0
3091,1,30-Jul-18,Black Dot,I didn’t order it,0
3096,1,30-Jul-18,White Dot,The product sounded the same as the emoji spea...,0